.dockerignore
.editorconfig
.gitattributes
.gitignore
.git
.github
.idea
LICENSE
README.md
private-files
web/autoload.php
web/core
web/.csslintrc
web/.eslintignore
web/.eslintrc.json
web/example.gitignore
web/.htaccess
web/.ht.router.php
web/index.php
web/INSTALL.txt
web/README.txt
web/update.php
web/web.config
web/libraries
web/modules/contrib
web/modules/.gitignore
web/modules/.gitkeep
web/modules/README.txt
web/profiles/.gitignore
web/profiles/.gitkeep
web/profiles/README.txt
web/sites/.gitignore
web/sites/example.settings.local.php
web/sites/example.sites.php
web/sites/default/settings.local.php
web/sites/*/files
web/sites/README.txt
web/themes/.gitignore
web/themes/README.txt
