<div class="homepage-slider">
    <div class="carousel slide" data-interval="20000" data-ride="carousel" id="carouselExampleIndicators">
        <ol class="carousel-indicators">
            {% for k, item in items %}
                <li data-slide-to="{{ k }}" data-target="#carouselExampleIndicators" class="{% if k == 0%}active{% endif %}">&nbsp;</li>
            {% endfor %}
        </ol>
        <div class="carousel-inner">
            {% for k, item in items %}
                <div class="carousel-item item {% if k == 0 %}active{% endif %}">
                    {% if item.content['#paragraph'].field_image.0.entity.fileuri %}
                        {%
                            set image = {
                            '#theme':      'image_style',
                            '#style_name': 'crop_image_style_12_5',
                            '#uri':        item.content['#paragraph'].field_image.0.entity.fileuri,
                        }
                        %}
                        {{ image }}
                    {% endif %}
                    <div class="content carousel-caption d-none d-md-block">
                        <div class="slide-content">
                            <h5>
                              {% if item.content['#paragraph'].field_link.uri == '' %}
                                {{ item.content['#paragraph'].field_title.value }}
                              {% else %}
                                {{ link(item.content['#paragraph'].field_title.value, item.content['#paragraph'].field_link.uri) }}
                              {% endif %}
                            </h5>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="controls">
          <a class="carousel-control-prev" data-slide="prev" href="#carouselExampleIndicators" role="button">
            <span aria-hidden="true" class="carousel-control-prev-icon">&nbsp;</span> <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" data-slide="next" href="#carouselExampleIndicators" role="button">
            <span aria-hidden="true" class="carousel-control-next-icon">&nbsp;</span> <span class="sr-only">Next</span>
          </a>
        </div>
    </div>
</div>
