.block-views-blockhomepage-courses-elearning-block {
  background-color: $primary-shade;
  padding-top: 3rem;
  padding-bottom: 3rem;

  .views-row {

    article.course {

      h2 {
        a {
          color: white;
        }
      }

      .btn {
        border-color: white;
        background-color: white;
      }
    }
  }
}
