.address {
  display: flex;
  span:not(:first-child) {
    &:before {
      content: ', ';
    }
  }
}

.meeting-subtitle {
  .country:not(:first-child) {
    &:before {
      content: ' (';
      white-space: pre;
    }
    &:after {
      content: ')';
    }
  }
}
