

.document {
  &.teaser {
    margin-top: 0.5em;

    .col-wrapper {
      display: flex;
    }

    .col-left {
      padding-right: 1rem;
    }

    .col-right {
      flex: 1;
    }

    .field--name-field-type {
      display: flex;

      .icon {
        margin-right: .2em;
      }

    }

    h2 {
      margin-top: 5px;
      font-size: 1.8rem;
    }

    span + span {
      margin-left: .2em;
    }

    .document-file-type {
      text-transform: uppercase;
    }

    .field--name-field-date,
    .field--name-field-topic {
      margin-right: 1.5em;
    }

    .document-topic:not(:first-child) {
      margin-left: .2em;
    }

    .document-files {
      color: $link-color;
    }

    .content {
      color: $text-muted;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;

      .field + .field {
        margin-left: 1.5em;
      }

    }

  }

}
