@import 'glossary-tabs-block';
@import 'glossary-view';
@import 'glossary-alphabetic-page';
//@import 'glossary_term_page_blocks';
//@import 'topic';

.page-header--thesaurus {
  align-items: center;
  display: flex;
  font-style: italic;
  font-weight: bold;
  margin-bottom: 1em;

  .icon {
    fill: $primary-shade;
    float: left;
    height: 1.5em;
    width: 1.5em;
    margin-right: .5em;
  }

}

.content--thesaurus {
  font-size: 1.6rem;
}

.term-page-tags {
  margin-top: 1rem;

  .field {
    clear: both;
  }

  .field--label {
    float:left;
    display: inline;
    &:after {
      content: ': ';
      margin-right: .2em;
    }
  }

  .field--item {
    display: inline;

    &:not(:last-child) {
      &:after {
        content: ', ';
        margin: 0 0 .2em;
      }
    }
  }
}
