.help,
.highlighted .alert,
.content-wrapper {
  margin-top: 3rem;
}

body,
.dialog-off-canvas-main-canvas {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.dialog-off-canvas-main-canvas {
  .holygrail-body {
    flex: 1 0 auto;
    display: flex;
    flex-wrap: wrap;

    .main-container {
      // flex: 1 0 0%;
      width: 100%;
    }

  }

  @include media-breakpoint-down(sm) {
    .holygrail-body {
      flex-direction: column;
    }

  }

}

.tabs--primary {
  margin-top: 1rem;
}

.layout-main-wrapper {
  margin-top: 1rem;
}

.pagination {
  margin-top: 15px;
  li {
    margin: 0 5px;
    a {
      border: 0;
    }
  }
}
