@import '../variables';

.region.row {
  > .block,
  > .navbar-brand {
    padding-left: $grid-gutter-width / 2;
    padding-right: $grid-gutter-width / 2;
  }
}

.featured-top {
  background-color: $primary-blue;
  color: #fff;
  padding: 0.75rem 0;
  margin-bottom: 30px;
}

.path-frontpage {
  .featured-top {
    display: none;
  }
}

.region-featured-top {
  &.row {
    flex-direction: column;
  }

  .download-link {
    float: right;
  }
}
