/**
 * @file
 * Styles for Bootstrap Barrio's tables.
 */

.sticky-header thead th {
    vertical-align: bottom;
    border-bottom: (2 * $table-border-width) solid $table-border-color;
}

.sticky-header th {
    padding: $table-cell-padding;
    vertical-align: top;
    border-top: $table-border-width solid $table-border-color;
}

//caption {
//    caption-side: top;
//}
//table, .table {
//  tr th {
//    background-color: transparent;
//    border-top: 1px solid transparent;
//    border-bottom: 2px solid black;
//  }
//
//  thead {
//    border: 1px solid #2f5da4;
//  }
//
//  tbody tr td {
//    background-color: #ffffffc9;
//    border: 1px solid #a3b5c7;
//    color: #004795;
//  }
//}

.table thead th {
  border-top: none;
  border-bottom: none;
  background: $primary-shade;
}

div.view-support-requests {
  td.is-active {
    background-color: #ccc;
  }
}
