{% if items %}
<div class="container">
  <ul class="menu--horizontal">
    {% for item in items %}
      <li><a href="{{ item.url }}">{{ item.label }}</a></li>
    {% endfor %}
  </ul>
</div>
{% endif %}

